before_script:
 - echo "ジョブを実行する前の準備コマンド"

test:
  script: "自動単体テスト実施"
   - echo "テスト実施コマンド"

staging:
  type: deploy
  script: "masterにpushする際にステージング環境に自動デプロイ"
   - echo "ステージング環境にデプロイするコマンド"
  only:
   - master

pre-production:
  type: deploy
  script: "pre-productionにpushする際にpre-production環境に自動デプロイ"
   - echo "pre-production環境にデプロイするコマンド"
  only:
   - pre-production

production:
  type: deploy
  script: "タグを付ける際に本番環境に自動デプロイ"
   - echo "本番環境にデプロイするコマンド"
  only:
   - tags
